/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.cartNumber {
    color: #ff6a00;
    font-size: 10px;
}

.borderDiv {
    border: 1px solid;
}

.margen {
    float: right;
    margin-right: 10px;
}

.quantity {
    width: 100px;
}

.bordeDivabajo {
    border: 1px solid;
}

.imgDiv {
    max-width: 150%;
}

.divContenedorProductos {
    margin-bottom: 50px;
}

.divPadre img {
    max-width: 100%;
}

.fixed {
    position: fixed;
    right: 50px;
}

.container2 {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    top: 20px;
}

.div-img {
    margin-left: auto;
    margin-right: auto;
}

    .div-img .img {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
    }

    .div-img:hover .img {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
    }